[Unit]
Description=Weather hat for Raspberry Pi
After=network.target

[Service]
Type=simple
WorkingDirectory=/src/foxy1982/RaspberryPi/weather-hat
ExecStart=/usr/bin/python ./main.py
ExecStopPost=/usr/bin/python ./clear.py
